.player__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  font-family: Inter;
}

.player__list_title {
  text-align: center;
  margin: 10px 0;
  font-size: 24px;
  font-weight: 900;
  color: #00112c;
}

.player__list_container {
  max-height: 360px;
  overflow-y: auto;
  border: 1px solid #00112c;
}

.player__list_table {
  width: 360px;
  border: 1px solid #00112c;
  border-collapse: collapse;
  color: #00112c;
  font-size: 12px;
}

.player__list_table thead {
  position: sticky;
  top: 0;
}

.player__list_table tr:nth-child(even) {
  background-color: #d6eeee;
}

.player__list_table,
td,
th {
  height: 35px;
  padding: 5px;
  border: 1px solid #00112c;
}

.player__list_table_head {
  background-color: #00112c;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.player__list_table_body {
  max-height: 600px;
}

.player__list_cancel {
  margin: 7px auto;
  color: #00112c;
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
}

@media only screen and (max-width: 683px) {
  .player__list {
    width: 320px;
  }
}
