# Arquivo .env nativo para Prisma Postgres
POSTGRES_PRISMA_URL=postgresql://sua:senha@banco.vercel-storage.com/banco?pgbouncer=true
POSTGRES_URL_NON_POOLING=postgresql://sua:senha@banco.vercel-storage.com/banco
NODE_ENV=production
JWT_SECRET=sua_chave_secreta_aqui
