.alert__message {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.alert__message_text {
  color: #fff;
  margin: 0;
  font-size: 15px;
}

.alert__message_error {
  background-color: #d1003b;
}

.alert__message_success {
  background-color: #0abf53;
}
